 <button class="btn btn-primary" onclick="window.location.href='/'" type="button"><h1>Volver</h1></button>

<div class="p-4">
    <div class="row">
        <div class="col-md-4">
            <h1>SistemaS2</h1>
            <ul>
                <li>Id</li>
                <li>fechaCaptura</li>
                <li>ejercicioFiscal</li>
                <li>ramo</li>
                    <ul>
                        <li>clave</li>
                        <li>valor</li>
                    </ul>
                <li>rfc</li>
                <li>curp</li>
                <li>nombres</li>
                <li>primerApellido</li>
                <li>segundoApellido</li>
                <li>genero</li>
                    <ul>
                        <li>clave</li>
                        <li>valor</li>
                    </ul>
                <li>institucionDependencia</li>
                    <ul>
                        <li>nombre</li>
                        <li>clave</li>
                        <li>siglas</li>
                    </ul>
                <li>puesto</li>
                <li>tipoArea</li>
                    <ul>
                        <li>clave</li>
                        <li>valor</li>
                    </ul>
                    <ul>
                        <li>clave</li>
                        <li>valor</li>
                    </ul>
                <li>tipoProcedimiento</li>
                    <ul>
                        <li>clave</li>
                        <li>valor</li>
                    </ul>
                <li>nivelResponsabilidad</li>
                    <ul>
                        <li>clave</li>
                        <li>valor</li>
                    </ul>
                <li>superiorInmediato</li>
                    <ul>
                        <li>nombres</li>
                        <li>genero</li>
                            <ul>
                                <li>clave</li>
                                <li>valor</li>
                            </ul>
                        <li>primerApellido</li>
                        <li>segundoApellido</li>
                        <li>curp</li>
                        <li>rfc</li>
                        <li>puesto LISTA 1 OBJETO</li>
                    </ul>
                <li>Id</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h1>Sistema3Servidores</h1>
            <ul>
                <li>id</li>
                <li>fechaCaptura</li>
                <li>expediente</li>
                <li>institucionDependencia</li>
                    <ul>
                        <li>nombre</li>
                    </ul>
                <li>servidorPublicoSanciado</li>
                    <ul>
                        <li>rfc</li>
                        <li>curp</li>
                        <li>nombres</li>
                        <li>primerApellido</li>
                        <li>segundoApellido</li>
                        <li>genero</li>
                            <ul>
                                <li>clave</li>
                                <li>valor</li>
                            </ul>
                        <li>puesto</li>
                    </ul>
                <li>autoridadSancionadora</li>
                <li>tipoFalta</li>
                    <ul>
                        <li>clave</li>
                        <li>valor</li>
                        <li>descripcion</li>
                    </ul>
                <li>tipoSancion</li>
                    <ul>
                        <li>Averiguar</li>
                    </ul>
                <li>causaMotivosHechos</li>
                <li>resolucion</li>
                    <ul>
                        <li>fechaResolucion</li>
                    </ul>
                <li>observaciones</li>
                <li>inhabilitacion</li>
                    <ul>
                        <li>plazo</li>
                        <li>fechaInicial</li>
                        <li>fechaFinal</li>
                    </ul>
            </ul>
        </div>

        <div class="col-md-4">
            <h1>declaraciones</h1>
            <ul>
                <li>id</li>
                <li>metadata</li>
                    <ul>
                        <li>actualizacion</li>
                        <li>tipo</li>
                        <li>institucion</li>
                        <li>declaracionCompleta</li>
                        <li>actualizacionConflictoIntereses</li>
                    </ul>
                <li>declaracion</li>
                    <ul>
                        <li>situacionPatrimonial OBJETO</li>
                            <ul>
                                <li>datosGenerales</li>
                                <li>domicilioDeclarante</li>
                                <li>datosCurricularesDeclarante</li>
                                <li>datosEmpleoCargoComision</li>
                                <li>experienciaLaboral</li>
                                <li>datosPareja</li>
                                <li>datosDependienteEconomico</li>
                                <li>ingresos</li>
                                <li>bienesInmuebles</li>
                                <li>vehiculos</li>
                                <li>bienesMuebles</li>
                                <li>inversiones</li>
                                <li>adeudos</li>
                                <li>prestamo0Comodato</li>
                            </ul>
                        <li>interes</li>
                            <ul>
                                <li>participacion</li>
                                <li>participacionTomaDecisiones</li>
                                <li>apoyos</li>
                                <li>representacion</li>
                                <li>clientesPrincipales</li>
                                <li>beneficiosPrivados</li>
                                <li>fideicomisos</li>
                            </ul>
                    </ul>
            </ul>
        </div>
    </div>
</div>
