
<div class="p-4">
    <div class="d-grid gap-2">
        <button class="btn btn-primary" onclick="window.location.href='/servidores'" type="button"><h1>Servidores</h1></button>
        <button class="btn btn-primary" onclick="window.location.href='/declaraciones'" type="button"><h1>Declaraciones</h1></button>
        <button class="btn btn-primary" onclick="window.location.href='/sanciones'" type="button"><h1>Sanciones</h1></button>
        <button class="btn btn-primary" onclick="window.location.href='/estructura'" type="button"><h1>Estructura de Datos</h1></button>
    </div>
</div>